body .custom-cursor-active {
    position: absolute;
}
.custom-cursor::before,
.custom-cursor::after,
.custom-cursor {
    cursor: none !important;
    position: absolute;
    border-radius: 50%;
    z-index: 99;
    box-sizing: border-box;
}
.custom-cursor::before,
.custom-cursor::after {
    content: "";
}
.custom-cursor {
    margin-top: var(--cursor-margin-regular);
    margin-left: var(--cursor-margin-regular);
    width: var(--cursor-size-regular);
    height: var(--cursor-size-regular);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: var(--cursor-border-size) solid var(--mid-cursor-border-color);
    display: inline-block;
    transition: .5s width, .5s height, .5s margin-top, .5s margin-left, .5s background-color, .5s display;
    pointer-events: none;
}
.custom-cursor-drag{
    cursor: none !important;
    width: var(--cursor-size-circle);
    height: var(--cursor-size-circle);
    margin-top: var(--cursor-margin-circle);
    margin-left: var(--cursor-margin-circle);
    border-radius: 100%;
    border: solid 1.5px var(--Primary-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    position: absolute;
    z-index: 2;
}
.custom-cursor-menu-close,
.custom-cursor-video-play,
.custom-cursor-circle,
.custom-cursor-circle-fill {
    cursor: none !important;
    width: var(--cursor-size-circle);
    height: var(--cursor-size-circle);
    margin-top: var(--cursor-margin-circle);
    margin-left: var(--cursor-margin-circle);
    border-radius: 100%;
    border: solid 1px var(--Primary-color);
    backdrop-filter: blur(4px);
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    z-index: 99;
}
.custom-cursor-menu-close{
    width: var(--cursor-size-menu-close);
    height: var(--cursor-size-menu-close);
    margin-top: var(--cursor-margin-menu-close);
    margin-left: var(--cursor-margin-menu-close);
    /* background-color: var(--Primary-color); */
    border: solid 1px var(--Primary-white);
}
.custom-cursor-menu-close::before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><rect width="30" height="30" fill="none"/><path d="M7 17L16.8995 7.10051" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 7.00001L16.8995 16.8995" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
}
.custom-cursor-circle,
.custom-cursor-video-play {
    background-color: transparent;
    color: var(--Primary-color);
}
.custom-cursor-circle-fill{
    background-color: var(--Primary-color);
    color: var(--Primary-white);
}
.custom-cursor-circle::before,
.custom-cursor-circle-fill::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 30%;
    filter: drop-shadow(-1px 1px 9px var(--background-color));
}
.custom-cursor-drag::after{
    content: "Drag";
    text-transform: capitalize;
    font-family: serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--Primary-white);
}
.custom-cursor-circle::after,
.custom-cursor-circle-fill::after {
    content: "View";
    text-transform: capitalize;
    display: inline-block;
    font-family: serif;
    font-weight: 700;
    font-size: 20px;
    top: 50%;
    text-shadow: -1px 1px 9px var(--background-color);
}
.custom-cursor-circle::before{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"> <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" /> </svg>') no-repeat center;
}
.custom-cursor-circle-fill::before{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"> <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" /> </svg>') no-repeat center;
}
.custom-cursor-menu{
    width: 0;
    height: 0;
    border: none;
    display: none;
}
.custom-cursor-video-play{
    width: var(--cursor-size-video-play);
    height: var(--cursor-size-video-play);
    margin-top: var(--cursor-margin-video-play);
    margin-left: var(--cursor-margin-video-play);
}
.custom-cursor-video-play::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    text-shadow: -1px 1px 9px var(--background-color);
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="20" height="20"><path stroke="red" fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" /></svg>') no-repeat center;
}

.custom-cursor-img-view{
    min-width: var(--cursor-size-rectangle-width);
    min-height: var(--cursor-size-rectangle-height);
    height: max-content;
    width: max-content;
    margin-top: var(--cursor-margin-rectangle-top);
    margin-left: var(--cursor-margin-rectangle-left);
    border-radius: 10px;
    background-color: var(--Primary-white);
    border: solid 4px var(--Primary-color);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.custom-cursor-img-view img{
    max-height: 250px;
    max-width: 250px;
    height: 100%;
    width: auto;
}
.custom-cursor-img-view::after{
    content: "";
    width: 0;
    height: 0;
    border-radius: 0;
    border-style: solid;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid var(--Primary-color);
    bottom: -50px;
}
.drag #button{
    width: 100px;
    height: 100px;
}
@keyframes custom-cursor-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.custom-cursor-click {
    animation: custom-cursor-click 0.5s forwards;
    border-color: green !important;
}
.custom-cursor.pointer {
    border-color: red;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1);
}
.custom-cursor.not-allowed {
    border-color: red;
}
@media (max-width: 480px) {
    div.custom-cursor ,
    div.custom-cursor-circle ,
    div.custom-cursor-circle-fill ,
    div.custom-cursor-circle,
    div.custom-cursor-drag {
        display: none;
    }
}