body .custom-cursor-active {
    cursor: none;
    position: absolute;
}

.custom-cursor::before,
.custom-cursor::after,
.custom-cursor {
    position: absolute;
    border-radius: 50%;
    z-index: 9999;
    box-sizing: border-box;
}

.custom-cursor::before,
.custom-cursor::after {
    content: "";
}

.custom-cursor {
    margin-top: var(--cursor-margin-regular);
    margin-left: var(--cursor-margin-regular);
    width: var(--cursor-size-regular);
    height: var(--cursor-size-regular);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: var(--mid-border-size) solid var(--mid-cursor-border-color);
    display: inline-block;
    /* transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
    animation: mid-cursor-animation .5s infinite alternate; */
    transition: .5s width, .5s height, .5s margin-top, .5s margin-left, .5s background-color;
    pointer-events: none;
}

.custom-cursor-circle,
.custom-cursor-circle-fill {
    /* cursor: none; */
    width: var(--cursor-size-circle);
    height: var(--cursor-size-circle);
    margin-top: var(--cursor-margin-circle);
    margin-left: var(--cursor-margin-circle);
    border-radius: 100%;
    border: solid 1px #ff3335;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 14px;
}
.custom-cursor-circle::before,
.custom-cursor-circle-fill::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 30%;
}
.custom-cursor-circle::after,
.custom-cursor-circle-fill::after {
    content: "View Details";
    display: inline-block;
    top: 50%;
}
.custom-cursor-circle{
    background-color: #0000004b;
    color: var(--Primary-color);
}
.custom-cursor-circle-fill{
    background-color: var(--Primary-color);
    color: #ffffff;
}
.custom-cursor-circle::before{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"> <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" /> </svg>') no-repeat center;
}
.custom-cursor-circle-fill::before{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"> <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" /> </svg>') no-repeat center;
}
.drag #button{
    width: 100px;
    height: 100px;
}

/* .custom-cursor::before {
  content: "";
  border: var(--inner-border-size) solid var(--inner-cursor-border-color);
  width: calc(var(--inner-cursor-size));
  height: calc(var(--inner-cursor-size));
  margin-top: var(--inner-cursor-margin);
  margin-left: var(--inner-cursor-margin);
  animation: inner-cursor-animation .11s infinity alternate;
  animation-delay: .2s;
  }
  
  .custom-cursor::after {
  content: "";
  border: var(--outer-border-size) solid var(--outer-cursor-border-color);
  width: var(--outer-cursor-size);
  height: var(--outer-cursor-size);
  margin-top: var(--outer-cursor-margin);
  margin-left: var(--outer-cursor-margin);
  animation: outer-cursor-animation .7s infinite alternate;
  } */

@keyframes mid-cursor-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes outer-cursor-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes inner-cursor-animation {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(3);
    }
}

@keyframes custom-cursor-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.custom-cursor-click {
    animation: custom-cursor-click 0.5s forwards;
    border-color: green !important;
}

.custom-cursor.pointer {
    border-color: red;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1);
}
.custom-cursor.not-allowed {
    border-color: red;
}

/* .circle-btn {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid 1px #ff3335;
    color: #ff3335;
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 14px;
}
.circle-btn:hover {
    background-color: #ff3335;
    color: #fff;
} */

@media (max-width: 480px) {
    div.custom-cursor-circle {
        display: none;
    }
}
