.banner{
    padding: 130px 0;
}

.banner-image{
    width: 450px;
    margin: 0 auto;
    position: sticky;
    top: 130px;
    height: 600px;
    padding-left: 7px;
    z-index: 1;
}
.banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-inage-text{
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.banner-text{
    position: relative;
    text-align: center;
    max-width: 1200px;
    margin: -150px auto 0;
}

.banner-text h1{
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--Primary-white);
    padding-bottom: 100px;
}

.text-border{
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    z-index: 2;
}

.banner-text h1 span.text-stock{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
}

.text-border span{
    -webkit-text-stroke-color: var(--Primary-color);
}

.banner-tag{
    width: 200px;
    position: absolute;
    right: 20px;
    top: 15%;
}
.banner-tag a{
    color: var(--body-text);
}

.banner-tag p{
    font-size: 12px;
}

.banner-tag a:hover{
    color: var(--Primary-color);
}


.about-section{
    padding: 120px 0;
}

.about-image{
    padding-right: 10px;
    position: relative;
    width: 500px;
}
.about-image p{
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: -41%;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.about-left h2{
    font-size: 120px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-weight: 900;
    line-height: 110px;
    bottom: -120px;
    z-index: 1;
    position: absolute;
    left: 100px;
}
.about-left h2 span{
    display: block;
    -webkit-text-fill-color: var(--Primary-color);
    -webkit-text-stroke-width: 0;
}

.about-product{
    width: 350px;
    position: relative;
    padding-left: 5px;
    margin-top: 100px;
}

.about-right{
    width: 40%;
}

.image-side-text{
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.image-side-text span{
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin: 0 10px;
}

.product-slider-section{
    padding: 120px 0;
    position: relative;
}
.product-slider-section .custom-cursor-drag{
    top: 50%;
    left: 5%;
}
.product-slider-section h5{
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

/* .product-slider-first .product-slider-items{
    display: flex;
    transition: 0.5s;
    justify-content: start;
    width: 50vw;
} */

.product-slider-first .product-slider-items img{
    width: 370px;
    height: 500px;
    object-fit: cover;
}

.height-progress-bar{
    height: 1px;
    margin-bottom: 5px;
}

.progress {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    background-image: linear-gradient(to right, var(--Primary-color), var(--Primary-color));
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease-in-out;
}

.product-slider-handel{
    align-items: end;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    bottom: 340px;
}
.product-slider-handel .height-progress-bar{
    width: 50px;
    margin: 0 10px 17px;
}
.product-slider-handel .current-items{
    font-size: 40px;
    width: 45px;
    text-align: right;
}
.product-slider-handel .total-items{
    font-size: 20px;
    margin-bottom: 8px;
}

.new-section{
    padding: 150px 0 200px;
}

.new-left{
    position: sticky;
    top: 120px;
}
.new-left h2{
    font-size: 120px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    line-height: 100px;
}
.new-img-slider-section{
    padding: 20px 0;
}
.new-img-slide img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.new-right h2{
    font-size: 50px;
    padding-top: 100px;
    color: var(--Primary-color);
}

.new-right .new-img-slider-section-text-slide p{
    font-size: 20px;
    color: var(--body-text);
}
.new-slider-handel{
    align-items: end;
    width: 50%;
    padding-bottom: 20px;
}
.new-slider-handel .height-progress-bar{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
}
.new-slider-handel .new-current-items{
    font-size: 25px;
}
.new-progress.progress {
    background-image: linear-gradient(to right, #82090b, #82090b);
}

.new-slider-handel .new-total-items{
    margin-bottom: 5px;
}

.new-right-bottom{
    padding-left: 250px;
    padding-top: 100px;
}
.card-box{
    margin-top: 50px;
}
.card-box .card-image{
    width: 150px;
}
.card-box .card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-bg{
    background-color: #21252B;
    flex: 1;
}
.card-bg a {
    font-size: 20px;
    color: #fff;
}
.card-bg a:hover{
    color: var(--Primary-color);
}

.jute-details{
    background-color: #F4EEEA;
    padding-bottom: 150px;
}
.details-image{
    position: sticky;
    top: 70px;
}

.details-text h1{
    font-size: 520px;
    line-height: 500px;
    color: #B41516;
    text-transform: uppercase;
    word-break: break-all;
    font-weight: 800;
}
.details-text .text-primary{
    color: #B41516 !important;
}
.details-text p{
    color: #5F5E5E;
    font-size: 16px;
    line-height: 25px;
}

.line-btn{
    padding-right: 60px;
    position: relative;
    font-size: 16px;
    color: #B41516 ;
    font-weight: 500;
    display: inline-block;
}
.line-btn:hover{
    color: var(--Primary-color);
}

.line-btn::before{
    content: "";
    height: 1px;
    background-color: #B41516;
    top: 50%;
    position: absolute;
    left: 100px;
    right: 0;
    transition: 0.5s;
}
.line-btn:hover::before{
    background-color: var(--Primary-color);
}


.details-image-text{
    font-size: 100px;
    font-weight: 800;
    line-height: 90px;
    margin-top: -90px;
    padding-left: 40px;
    color: #21252B;
}


.friendly-products-section{
    padding: 150px 0 0;
}

.friendly-products-image{
    position: relative;
}
.friendly-products-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(180,21,22);
    background: linear-gradient(0deg, rgba(180,21,22,0.8436624649859944) 30%, rgba(180,21,22,0) 100%);
}
.friendly-products-image p{
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 250px;
    line-height: 250px;
    width: 200px;
    text-align: right;
    word-break: break-all;
}

.friendly-products-text{
    padding: 0 100px;
}
.friendly-products-text h5{
    font-size: 35px;
    color: var(--Primary-white);
    text-transform: uppercase;
}
.friendly-products-text p{
    font-size: 16px;
    line-height: 22px;
    padding-top: 100px;
}

.friendly-products-slider{
    padding-left: 100px;
    padding-top: 150px;
}

.friendly-products-slider-image{
    width: 100%;
    height: 450px;
}
.friendly-products-slider-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.friendly-products-slider-text {
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.friendly-products-slider-text p{
    color: #fff;
}
.friendly-products-slider-text span{
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin: 0 10px;
}
.friendly-products-slider-items{
    padding: 0 70px 0 0;
    width: 420px;
}
.friendly-products-slider .slick-dots{
    display: flex;
    padding: 0 20px;
    justify-content: end;
    align-items: end;
    height: 60px;
    padding-top: 120px;
}

.friendly-products-slider .slick-dots li{
    padding-left: 35px;
}

.friendly-products-slider .slick-dots button{
    background-color: transparent;
    font-size: 20px;
    border: 0;
    color: #fff;
    padding-bottom: 0;
    display: inline-block;
    border-bottom: solid 2px transparent;
    padding: 0 5px;
}

.friendly-products-slider .slick-dots .slick-active button{
    font-size: 45px;
    color: var(--Primary-color);
    padding-bottom: 10px;
    border-bottom: solid 2px #fff;
}

.content-aria{
    padding: 150px 0;
}

.content-aria h3{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    max-width: 600px;
}

.content-aria h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
    margin-left: auto;
    text-align: right;
    padding: 100px 0;
}

.content-aria h3 span{
    color: var(--Primary-color);
    font-style: italic;
    text-transform: capitalize;
}


.video-section{
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    padding: 100px 100px 0;
}

.video-section h3{
    font-size: 50px;
    color: #fff;
    font-weight: 400;
}

.blog-section{
    padding: 200px 0;
    background-color: #fff;
}
.video-slider-items{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.video-slider-items a{
    height: inherit;
    display: block;
}
.video-slider-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-btn{
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid red;
}
.video-btn:hover{
    color: var(--Primary-color);
}
.video-slider{
    padding-top: 80px;
    margin-bottom: -150px;
}
.video-slider .slick-slide{
    padding: 0 20px;
}


.section-heading{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: #B41516;
}

.member-section{
    padding: 100px 0;
}

.member-logo-section{
    max-width: 1200px;
    padding-top: 30px;
    margin: 0 auto;
}

.member-logo-section img{
    max-width: 250px;
    height: 150px;
}

.articles-section h2 {
    max-width: 1000px;
    padding: 80px 0;
}
.articles-section h2 a{
    display: inline;
    font-size: 45px; 
    color: #000;
    font-weight: 600;
    word-break: break-all;
}
.articles-section h2 a:hover{
    color: #B41516;
}







.product-slider-box{
    display: flex;
    align-items: center;
}
.product-slider-box-text{
    width: 70%;
    padding: 0 100px 0 250px;
}
.product-slider-box-image{
    width: 30%;
}
.product-slider-box-text a{
    text-decoration: none;
}
.product-slider-box-text a h2{
    font-size: 35px;
    font-weight: 400;
    color: var(--Primary-color);
}
.product-slider-box-text a p{
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    color: #5F5E5E;
}

.product-slider-box-text a #button{
    font-size: 13px;
    display: inline-block;
    margin-top: 15px;
    padding: 2px 0;
    border-bottom: solid 1px #fff;
    color: #fff;
}








@media (max-width: 1817px) {
  
}

@media (max-width: 1640px) {
  
}

@media (max-width: 1547px) {
    .details-text h1 {
        font-size: 492px;
    }
}


@media (max-width: 1441px) {
    .new-right-bottom {
        padding-left: 146px;
    }
    .details-text h1 {
        font-size: 425px;
        line-height: 413px;
    }
}


@media (max-width: 1366px) {
    .details-text h1 {
        font-size: 349px;
        line-height: 342px;
    }
    .friendly-products-image p{
        font-size: 200px;
        line-height: 220px;
        width: 182px;
    }
}


@media (max-width: 1200px) {
    .banner-text{
        max-width: 991px;
    }
    .banner-text h1 {
        font-size: 11vw;
        line-height: 120px;
    }
    .about-right {
        width: 44%;
    }
    .about-left h2{
        left: 15px;
        font-size: 90px;
    }
    .new-right h3{
        font-size: 35px;
        line-height: 44px;
    }
    .new-right-bottom {
        padding-left: 88px;
    }

    .details-image-text {
        font-size: 77px;
    }

    .friendly-products-image p {
        font-size: 150px;
        line-height: 178px;
        width: 155px;
    }
    .friendly-products-text p{
        padding-top: 40px;
    }
    .friendly-products-slider {
        padding-left: 50px;
        padding-top: 30px;
    }
    .friendly-products-text{
        padding: 0 50px;
    }
    .video-section{
        padding: 80px 0 0;
    }
    .blog-section{
        padding-bottom: 100px;
    }
    .articles-section h2{
        padding: 30px 0 50px;
    }
    .articles-section h2 a{
        font-size: 30px;
    }
    .product-slider-box-text {
        padding: 0 100px 0 100px;
    }

}


@media (max-width: 1024px) {

}


@media (max-width: 991px) {
    .banner-text{
        max-width: 100%;
        padding: 0 30px;
    }
    .product-slider-section h5{
        text-align: left;
    }
    .product-slider-box{
        flex-wrap: wrap;
    }
    .product-slider-box-text{
        width: 100%;
        order: 2;
    }
    .product-slider-box-image{
        width: 100%;
        order: 1;
        padding: 20px 0;
    }
    .product-slider-items{
        text-align: center;
    }
    .product-slider-first .product-slider-items img{
        margin: 0 auto;
    }
    .product-slider-section .custom-cursor-drag{
        left: 30%;
    }
    .banner-text h1 {
        font-size: 12vw;
        line-height: 103px;
    }
    .banner-tag{
        display: none;
    }
    .position-relative{
        width: 100%;
    }
    .about-section .wrapper.d-flex{
        display: block !important;
    }
    .about-image{
        width: 100%;
        padding-right: 0;
        padding-left: 20px;
        height: 400px;
    }
    .about-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-image p{
        right: auto;
        left: 15px;
    }
    .about-left h2{
        position: relative;
        bottom: 0;
        left: 0;
    }
    .about-right{
        width: 100%;
    }
    .about-product{
        margin-top: 50px;
    }
    .product-slider-section{
        padding: 80px 0;
    }
    .new-left{
        position: inherit;
    }
    .new-right-bottom{
        padding-left: 0;
    }
    .card-box{
        max-width: 439px;
    }
    .details-text h1{
        display: none;
    }
    .friendly-products-text{
        padding: 50px 0;
    }
    .friendly-products-slider{
        padding-left: 0;
    }
}


@media (max-width: 801px) {
  
}


@media (max-width: 768px) {
}


@media (max-width: 767px) {
    .banner-text h1 {
        font-size: 12vw;
        line-height: 89px;
    }
    .about-section{
        padding-top: 0;
    }
    .friendly-products-image{
        height: 600px;
    }
    .friendly-products-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-slider-handel{
        transform: rotate(0deg);
        bottom: 0;
    }
    .product-slider-box-text{
        padding: 0 15px;
    }
    .product-slider-section .custom-cursor-drag{
        left: 20%;
    }
    .friendly-products-image p {
        font-size: 126px;
        line-height: 143px;
        width: 136px;
    }

    .content-aria h3{
        font-size: 33px;
        padding-bottom: 20px;
    }

    .content-aria h2{
        font-size: 34px;
        padding: 77px 0;
    }
}


@media (max-width: 700px) {
    .banner-text h1 {
        font-size: 12vw;
        line-height: 89px;
    }
    .content-aria{
        padding: 100px 0 80px;
    }
}

@media (max-width: 600px) {
    .product-slider-box-text h2{
        font-size: 30px;
    }
    .content-aria h3 {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .content-aria h2 {
        font-size: 24px;
        padding: 50px 0;
        text-align: left;
    }
    .new-slider-handel{
        width: 100%;
    }
    .new-left h2{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 0;
    }
    .product-slider-section h5{
        text-align: left;
    }
    .text-border{
        padding: 0 30px;
    }
    .product-slider-handel{
        transform: none;
        bottom: 0;
    }
    .banner-text h1 {
        font-size: 10vw;
        line-height: 73px;
    }
    .banner-image{
        width: 300px;
        height: 400px;
    }
    .banner-text{
        margin-top: -65px;
    }
    .about-left h2 {
        font-size: 70px;
        line-height: 76px;
        padding-top: 20px;
    }
    .new-right h3{
        padding-top: 50px;
    }
    .new-section{
        padding: 100px 0 80px;
    }
    .jute-details{
        padding-bottom: 100px;
    }
    .friendly-products-section{
        padding: 100px 0 0;
    }

    .video-section h3 {
        font-size: 34px;
        padding-bottom: 10px;
    }

    .video-section {
        padding: 60px 0 0;
    }
    .video-slider{
        padding-top: 30px;
    }
    .member-section {
        padding: 62px 0;
    }
    .banner-text{
        margin-top: -73px;
    }
}


@media (max-width: 520px) {
    .banner-text h1 {
        font-size: 10vw;
        line-height: 61px;
    }
}


@media (max-width: 480px) {
    .banner-text h1 {
        line-height: 55px;
    }
    .details-image-text {
        font-size: 59px;
        line-height: 69px;
        margin-top: -67px;
    }
    .about-product {
        width: 276px;
    }
    .circle-btn {
        width: 85px;
        height: 85px;
    }
    .member-logo-section img {
        max-width: 195px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 420px) {

}


@media (max-width: 375px) {
    .banner-text h1 {
        font-size: 9vw;
    }
}


@media (max-width: 340px) {
    .banner-text h1 {
        font-size: 8vw;
        line-height: 35px;
    }
}