:root {
  font-size: 18px;
  --background-color: #4d5061;
  --inner-cursor-border-color: rgba(255, 51, 54, .6);
  --mid-cursor-border-color: rgba(255, 255, 255, .8);
  --outer-cursor-border-color: rgb(255, 51, 54, .5);
  /* --color: rgb(255, 51, 54); */
  /* --inner-border-size: 1px; */
  --mid-border-size: 2px;
  /* --outer-border-size: 8px; */
  
  --Primary-color : #ff3335;
  --cursor-size-regular: 20px;
  --cursor-size-circle: 100px;
  /* --cursor-size: 40px; */
  /* --inner-cursor-size: calc(.6 * var(--cursor-size));
  --mid-cursor-size: var(--cursor-size);
  --outer-cursor-size: calc(1.2 * var(--cursor-size)); */
  
  --cursor-margin-regular: calc(-.5 * var(--cursor-size-regular));
  --cursor-margin-circle: calc(-.7 * var(--cursor-size-circle));
  /* --inner-cursor-margin: calc((var(--mid-cursor-size) / 2) - (var(--inner-cursor-size) / 2) - var(--mid-border-size)); */
  /* --mid-cursor-margin: calc(-.5 * var(--mid-cursor-size));
  --outer-cursor-margin: calc((var(--mid-cursor-size) / 2) - (var(--outer-cursor-size) / 2) - var(--mid-border-size)); */
  
  --transition-duration: 100ms;
}


*{
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html{
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;;
  color: #787E92;
  font-weight: 400;
  padding: 0;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #1D2025;
}
img{
  width: auto;
  max-width: 100%;
}
div:after{
  display: block;
  box-sizing: border-box;
}
a, button{
  transition: 0.5s;
  box-shadow: none !important;
  outline: none !important;
}

ol, ul li{
  list-style-type: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
  outline-offset: 0;
}

a{
  text-decoration: none !important;
}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}


/* scroll css */

.scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}



.scroll.scroll-white::-webkit-scrollbar, .scroll.scroll-white::-webkit-scrollbar-track{
	background-color: rgba(255, 255, 255, 0.1);
}
.scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);

}
.scroll.scroll-white::-webkit-scrollbar-thumb{
	background-color: rgba(255, 255, 255, 0.8);
}


/* -------- */


/*---------- Header css -----------*/

div#scroll-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #FF3335;
	z-index: 999;
	border-radius: 3px;
}

.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	padding: 0px;
	/* background-color: rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(2px);
}

.progress-wrap:before {
	content: "\27A4";
	position: absolute;
	top: 9px;
	transform: rotate(-90deg);
	left: 17px;
	font-size: 26px;
	color: #FF3335;
	transition: 0.5s;
}

.progress-wrap:hover:before {
	color: #FF3335;
	top: 5px;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap:hover::after {
	opacity: 0;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path {
	fill: transparent;
  stroke: #FF3335;
  stroke-width: 3;
}

.progress-wrap svg.progress-circle path {
	stroke: #FF3335;
	stroke-width: 3;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}


header.fixd-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 30px;
  background-color: #1D2025;
}

header .logo img{
  max-width: 200px;
}

.social-media h5{
  color: #ffffff;
  font-weight: 300;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
  font-size: 15px;
  padding-top: 20px;
}

.social-media ul li a{
  font-size: 30px;
  color: #fff;
}

.social-media ul li a:hover{
  color: #000;
}

.header-welcome-text{
  font-size: 16px;
  font-weight: 300;
  width: 182px;
}

a.logo{
  position: relative;
  display: inline-block;
}

.menu-icon{
  width: 40px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.menu-icon:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #FF3335;
  opacity: 0.1;
  transition: 0.5s;
}
.menu-icon span{
  position: absolute;
  top: 10px;
  right: 20px;
  height: 1px;
  width: 20px;
  background-color: #FF3335;
  transition: 0.5s;
}
.menu-icon span:nth-child(2){
  width: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.menu-icon span:nth-child(3){
  width: 20px;
  top: auto;
  bottom: 10px;
}

.menu-icon:hover::before{
  opacity: 1;
}

.menu-icon:hover span{
  width: 20px;
  background-color: #fff;
}

.right-menu{
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
.menu-items{
  margin-left: auto;
  width: 30%;
  background-color: #FF3335;
  height: 100vh;
}

.menu-bar{
  width: 180px;
}

.right-menu.active{
  width: 100%;
}

nav{
  max-height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 30px;
}

nav ul li a{
  font-size: 45px;
  font-weight: 200;
  color: #fff;
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}
nav ul li a:hover{
  color: #000;
}

nav ul li:last-child a{
  margin-bottom: 20px;
}

nav ul li a:before{
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  background-color: #000;
  content: "";
  transition: 0.5s;
  width: 0;
}

nav ul li a:hover:before{
  width: 100%;
}
.right-menu.active nav ul li{
  width: 100%;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.right-menu.active nav ul li{
  animation: fadein 0.3s ease-in both;
}
.right-menu.active nav ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.right-menu.active nav ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.right-menu.active nav ul li:nth-child(3) {
  animation-delay: 0.4s;
}
.right-menu.active nav ul li:nth-child(4) {
  animation-delay: 0.5s;
}
.right-menu.active nav ul li:nth-child(5) {
  animation-delay: 0.6s;
}
.right-menu.active nav ul li:nth-child(6) {
  animation-delay: 0.7s;
}
.right-menu.active nav ul li:nth-child(7) {
  animation-delay: 0.8s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
  }
}


/* ----------- */




/*--------- Text-Color------- */

.text-primary{
  color: #FF3335 !important;
}

.text-white{
  color: #ffffff !important;
}

/*--------- Bg-Color ------*/

.bg-primary{
  background-color: #FF3335 !important;
}



 /*------ Footer css -------*/

.footer-social-media a{
  color: #fff;
}

.footer-social-media a:hover{
  color: #FF3335;
}

.footer-menu{
  padding: 0;
  margin: 0;
  display: flex;
}
.footer-menu li{
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  padding: 0 25px;
}

.footer-menu li:first-child{
  border-left: 0;
  padding-left: 0;
}

.footer-menu li a{
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: block;
  font-weight: 300;
}

.footer-menu li a:hover{
  color: #FF3335;
}
.contact-section{
  padding: 100px 0;
}
.contact-section h2{
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
}

.contact-info p{
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1817px) {
  
}

@media (max-width: 1640px) {
  
}

@media (max-width: 1547px) {
  
}


@media (max-width: 1441px) {
  
}


@media (max-width: 1366px) {
  .menu-items{
      max-width: 800px;
      width: 100%;
  }
}


@media (max-width: 1200px) {
  .contact-section h2 {
    font-size: 50px;
  }
  .footer-menu li{
      padding: 0 15px;
  }
  .footer-menu li a{
      font-size: 14px;
  }

}


@media (max-width: 1024px) {

}


@media (max-width: 991px) {
  
}


@media (max-width: 801px) {
  
}


@media (max-width: 768px) {
}


@media (max-width: 767px) {
  .header-welcome-text{
    display: none;
  }
}


@media (max-width: 600px) {
  .footer-bottom .wrapper {
      justify-content: center !important;
      flex-direction: column;
  }
  .footer-bottom .wrapper > p{
    padding-bottom: 15px;
  }
  .contact-section h2{
    padding-bottom: 0 !important;
  }
  .footer-menu{
    padding-top: 0 !important;
  }

  .member-section {
    padding: 55px 0;
  }
}


@media (max-width: 575px) {
  
}


@media (max-width: 480px) {

}


@media (max-width: 420px) {
  
}


@media (max-width: 375px) {
  
}


@media (max-width: 340px) {

}

